html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Verdana"
}

#map {
   height:100%;
   width:100%; 
}
#info {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 70px;
  bottom: 50px;
  width: 300px;
  height: 500px;
  background: rgba(255, 255, 255, .8);
  border-style: solid;
  border-width: 1px;
  display: none;
}

.Council, .CB, .websites, .mapViews{
  padding-right: 20px;
  padding-left: 20px;
}

.Head{
  font-size: 14px;
  padding-top: 1px;
}

.CDname, .CDdistrict, .CBname {
  display: inline;
  font-size: 16px;
}


.CDwebsite, .cDistMap, .allCouncil, .CBwebsite, .cbMap, .allCB, .websites, .mapViews {
  font-size: 12px;
  
}

.CDwebsite, .CBwebsite{
  padding-bottom: 5px;
}

.district, .name {
  font-size: 12px;
}

.Council, .CB, .mapViews, .websites {
  padding-top: 10px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #d1d1d1;
  padding-bottom: 10px; 
}

input[name=search] {
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 5000;
  width: 55%;
  textarea {
  font-size: 16px;
}

}

.streetview {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 200px;


}


.cDistMap,.allCouncil,.cbMap,.allCB, .mapColor, .satellite {
    color: white;
    background-color: #B1ACBD;
    text-decoration: none;
    cursor:pointer;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    
}

a:visited, a:link{

  color:blue;
}

#space, #spacev{
  display:none;
}

/*Portrait*/

@media screen and (max-width: 480px){

  #info {
    max-width: 40%;
    height: 400px;
    overflow:hidden;
    right: 2px;
  }

.cDistMap,.allCouncil,.cbMap,.allCB, .mapColor, .satellite {
    color: white;
    background-color: #B1ACBD;
    text-decoration: none;
    cursor:pointer;
    padding: 1px;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    white-space: nowrap;
    }


input[name=search] {
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 5000;
  width: 75%;
  textarea {
  font-size: 16px;}
}


.Council, .CB, .websites, .mapViews{
  padding-right: 0;
  padding-left: 5px;

}

.websites{
  border-width: 0px;
}

#space{
  padding-top: 3px;
  display:block;
}


.CDname, .CDdistrict, .CBname {
  display: inline;
  font-size: 12px;
}

.streetview {
  display: none;
}

}

/*Landscape*/

@media only screen  and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {


  #info {
    max-width: 40%;
    height: 350px;
    overflow:hidden;
    right: 2px;
  }

.cDistMap,.allCouncil,.cbMap,.allCB, .mapColor, .satellite {
    color: white;
    background-color: #B1ACBD;
    text-decoration: none;
    cursor:pointer;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:black;

  }


input[name=search] {
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 5000;
  width: 75%;
  textarea {
  font-size: 16px;}
}


.Council, .CB, .websites, .mapViews{
  padding-right: 0;
  padding-left: 5px;

}

.websites{
  border-width: 0px;
}

#space{
  padding-top: 3px;
  display:block;
}


.CDname, .CDdistrict, .CBname {
  display: inline;
  font-size: 12px;
}

.streetview {
  display: none;
}


}